
body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#game {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#controls {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 500px;
    bottom: 0px;

    padding: 30px;

    border-left: 2px solid lightcyan;
    background-color: rgba(255,255,255,0.9);
    overflow-y: scroll;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 1.5em;
}

/* remove outline on selection */
input[type=range]:focus {
    outline: none;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

/* NOTE: No webkit support. So Chrome / Safari users don't get their beautiful blue filled-in ranges. :( */
input[type=range]::-moz-range-progress {
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: #007bff;
}

input[type=range]::-ms-fill-lower {
    appearance: none;
    height: 3px;
    background: #007bff;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    background: lightgrey;
}

input[type=range]::-moz-range-track {
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: lightgrey;
}

input[type=range]::-ms-track {
    appearance: none;
    height: 3px;
    background: lightgrey;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #007bff;
    background: white;
    cursor: pointer;
    margin-top: -6px;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #007bff;
    background: white;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #007bff;
    background: white;
    cursor: pointer;
}

input[type=range]:disabled::-moz-range-progress {
    background: darkgrey;
}

input[type=range]:disabled::-ms-fill-lower {
    background: darkgrey;
}

input[type=range]:disabled::-webkit-slider-thumb {
    border-color: darkgrey;
    cursor: default;
}

input[type=range]:disabled::-moz-range-thumb {
    border-color: darkgrey;
    cursor: default;
}

input[type=range]:disabled::-ms-thumb {
    border-color: darkgrey;
    cursor: default;
}


span.dyn_val {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}

p.no-margin {
    margin: 0px;
}

.pad-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.display-panel p {
    margin: 0px;
}

.red-team {
    border-left: 4px solid red;
}

.blue-team {
    border-left: 4px solid blue;
}

#tooltip {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 2px solid lightcyan;
    border-right: 2px solid lightcyan;
    width: 200px;
    pointer-events: none;
}

.hidden {
    display: none;
}

.true-val {
    color: limegreen;
}

.red-img {
    background-color: red;
    border-radius: 10px;
    padding: 10px;
}

.blue-img {
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
}

#unit_health_bar {
    background-color: red;
}

#unit_fuel_bar {
    background-color: #ffff00;
}

#unit_karbonite_bar {
    background-color: #00ff00;
}

p.selectable {
    border-left: 3px solid white;
    padding-left: 10px;
}

p.selectable.red {
    border-left-color: red;
}

p.selectable.blue {
    border-left-color: blue;
}

p.selectable:hover {
    cursor: pointer;
}

.sliderLabel {
 width: max-content;
}

#allSliders {
 display: flex;
 width: 100%;
 margin-right: 27%;
 margin-left: 5%;
}

#allSliders > div {
 flex: 1; /*grow*/
}

.sliderLabelContainer {
  position: relative;
}

.sliderLabel {
  /* position: absolute; That messes it up for some reason */ 
  bottom: 7px;
  right: 5px;
  margin: 0px;
}

.switch {
  display: inline-block;
  height: 34px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  margin: 0 auto;
  position: relative;
}
